<div class="awards_honors">
  {% if site.awards_honors != blank %}
    <div>
      <ul>
        <li>ACM MM 2024 Honourable Mention Award, 2024</li>
        <li>National Scholarship，2024</li>
      </ul>
    </div>
  {% else %}
    <p>No research interest so far...</p>
  {% endif %}
</div>
