<div class="research_interest">
  {% if site.research_interest != blank %}
    <div>
      <ul>
        <li><b>Multimodal Learning: </b>Imbalanced Multimodal Learning, Incomplete Multimodal Learning</li>
        <li><b>Affective Computing: </b>Emotion Recognition, Sentiment Analysis</li>
        <li><b>Large Language Model (LLM), Multimodal LLM Application</b></li>
      </ul>
    </div>
  {% else %}
    <p>No research interest so far...</p>
  {% endif %}
</div>
